# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MyGame.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Data\Unity\MyGame\.idea\.idea.MyGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
